<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1, user-scalable=no">

  <title> {{ page.title }} </title>

  <link rel="icon" type="image/x-icon" href="/favicon.png">

  <link href="{{ site.url }}/css/reset.css" rel="stylesheet" />
  <link href="{{ site.url }}/css/bootstrap.min.css" rel="stylesheet" />
  <link href="{{ site.url }}/css/bootstrap-theme.min.css" rel="stylesheet" />
  <link href="{{ site.url }}/css/base.css" rel="stylesheet" />
  <link href="{{ site.url }}/css/monokai.css" rel="stylesheet" />
  <link href="{{ site.url }}/css/index.css" rel="stylesheet" />

  <!-- Google anylytics -->
  <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-32682683-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  </script>
</head>

<body>
  <header>
    <div class="container-fluid">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 title">
            <h2> {{ page.motto }} </h2>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 posts">
          {{ content }}
        </div>
      </div>
    </div>
  </div>

  {% include footer.html %}

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="{{ site.url }}/js/bootstrap.min.js"></script>

  <script >
  $(document).ready(function() {
    // table
    $('table').wrap("<div class='table-responsive'></div>");
    $('table').addClass("table table-striped");
  });
  </script>
</body>
</html>
